
<div style="position:fixed; right:20px; top:10px;">
    <button id="nav_btn" class="btn btn-primary">
        <i class="fa fa-2x fa-list"></i>
    </button>
</div>

<!--
   -<div style="position:fixed; right:20px; top:60px;">
   -    <button id="read_btn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal__content">
   -        <i class="fa fa-file-text"></i>
   -    </button>
   -</div>
   -->

<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/jquery.pjax.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/nprogress.js"></script>
<script type="text/javascript" src="/assets/js/base.js"></script>

<script>
    $('#navTab a:first').tab('show');
</script>
